@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme variables */
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0; /* Text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme variables */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255; /* Text color */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
}

.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.text-center {
    text-align: center;
}

.min-h-screen {
    min-height: 100vh;
}
.p-4 {
    padding: 1rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.max-w-4xl {
    max-width: 56rem;
}
.w-full {
    width: 100%;
}